
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.dropdown {
  background-color: #A61717;
  float: left;
  overflow: hidden;
}


.dropdown .dropbtn {
  font-size: 130%;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #cc0000;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.riga {
background-image: url('riga.jpg');
background-repeat: no-repeat;
background-position: center;
}  

.reset-riga {
background-image: none;
} 

#immagini_lettera{
width: 789px;
float: left;
margin-bottom: 24px;
}

#box_note{
  display: inline-block;
}

body {
  font-size: 113%;
  margin-left: 30px;
  margin-right: 30px;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 150%;
  color: #A61717;
}

